body {
    text-align: center;
}

.Garden {
    background-image: url("https://i.imgur.com/5yXZI8P.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.Garden h1, .Garden a, .Garden h2, .Garden h3 {
    color: rgb(0, 255, 85);
}

.Garden h1, .Garden h2, .Garden h3 {
    text-shadow: 3px 3px 2px rgb(0, 0, 0);
}

.Enjoy {
    background-image: url("https://i.imgur.com/vJx7c1m.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(255, 255, 0);
}

.Enjoy h1, .Enjoy a, .Enjoy h2, .Enjoy h3 {
    color: rgb(255, 183, 0);
}

.Enjoy h1, .Enjoy h2, .Enjoy h3 {
    text-shadow: 3px 3px 2px rgb(255, 0, 0)
}

.Puzzle {
    background-image: url("https://i.imgur.com/BcNEOUr.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.Puzzle h1, .Puzzle a, .Puzzle h2, .Puzzle h3 {
    color: rgb(195, 195, 195);
}

.Puzzle h1, .Puzzle h2, .Puzzle h3 {
    text-shadow: 3px 3px 2px rgb(70, 70, 70);
}

header {
    padding: 50px 0 0 0;
}

h1 {
    font-size: 55px;
}

nav {
    background: rgba(0, 0, 0, 0.8);
    font-size: 30px;
    padding: 5px 0 5px 0;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 20px;
}

a {
    margin: 0 10px 0 10px;

}

nav a {
    text-decoration: none;
}

.Garden nav a:hover {
    background-color: rgb(0, 255, 85);
    color: rgb(0, 0, 0);
}

.Enjoy nav a:hover {
    background-color: rgb(255, 183, 0);
    color: rgb(0, 0, 0);
}

.Puzzle nav a:hover {
    background-color: rgb(195, 195, 195);
    color: rgb(0, 0, 0);
}

h2 {
    font-size: 40px;
    margin: 20px 0 20px 0;
}

h3 {
    font-size: 33px;
    margin: 20px 0 20px 0;
}

p {
    font-size: 30px;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px 0 30px 0;
    color: white;
}

.spanlink a {
    text-decoration: none;
    margin: 0;
}

.spanlink a:hover {
    text-decoration: underline;
}

img {
    margin: 0 auto;
    width:500px;
}

ol {
    margin: 30px auto 0 auto;
    width: 400px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-align: left;
    list-style-position: inside;
}

.div-bg {
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px 0 20px 0;
    border-radius: 20px;
}

.Return {
    font-size: 25px;
    max-width: 200px;
}

.Return a {
    text-decoration: none;
}

.Return a:hover {
    text-decoration: underline;
}

.Disco-dd, .Enjoy-dd, .Puzzle-dd {
    position: relative;
    display: inline-block;
}

.Disco-content, .Enjoy-content, .Puzzle-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 160px;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.Disco-dd li, .Enjoy-dd li, .Puzzle-dd li {
    list-style: none;
    text-align: left;
}

.Disco-content a, .Enjoy-content a, .Puzzle-content a {
    font-size: 22px;
    padding: 12px 16px;
    text-decoration-line: none;
    display: block;
}

.Disco-dd:hover .Disco-content, .Enjoy-dd:hover .Enjoy-content, .Puzzle-dd:hover .Puzzle-content {
    display: block;
}

@media only screen and (max-width: 600px)  {
    h1 {
        font-size: 50px;
    }

    nav a {
        display: block;
        font-size: 22px;
        padding: 5px 0;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 22px;
        max-width: 400px;
    }

    h3 {
        font-size: 25px;
    }

    img {
        max-width: 400px;
    }

    .Return {
        font-size: 18px;
        max-width: 150px;
    }
}